<div>
  <button class="btn btn-primary" (click)="ngClick_1()">Test1(Observable)</button>
</div>
<div>
  <button class="btn btn-primary" (click)="ngClick_2()">Test2(Observable.of)</button>
</div>
<div>
  <button class="btn btn-primary" (click)="ngClick_3()">Test3(Observable.forkJoin)</button>
</div>
<div>
  <button class="btn btn-primary" (click)="ngClick_4()">Test4(Observable.merge)</button>
</div>
<div>
  <button class="btn btn-primary" (click)="ngClick_5()">Test5(Observable.concat)</button>
</div>